<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name = "Mobile Native Application Test Suite">

    <listeners>
        <listener class-name="extentReportListener.extentReporterNG" />
    </listeners>

    <test  name= "SERS Application Test Cases">
        <classes>
            <class name="dragdropDemo"></class>

        </classes>
    </test>
</suite>